body {
    background-color: lightgray;
}

#container {
    position: relative;
    background-color: white;
    width: 305px;
    height: 305px;
}

.squares div {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid white;
}


#red {
    left: 0;
    top: 0;
    background-color: red;
}

#blue {
    left: 100px;
    top: 0;
    background-color: blue;
}


#green {
    right: 0;
    background-color: green;
}

#yellow {
    top: 100px;
    background-color: yellow;
}

#black {
    left: 100px;
    top: 100px;
    background-color: black;
}

#orange {
    top: 100px;
    right: 0;
    background-color: orange;
}

#purple {
    bottom: 0;
    background-color: purple;
}

#gray {
    bottom: 0;
    left: 100px;
    background-color: gray;
}

#pink {
    bottom: 0;
    right: 0;
    background-color: pink;
}

.circles div {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    border: solid black 1px;
}

#pink_circle {
    left: 25px;
    top: 25px;
    background-color: pink;
}

#gray_circle {
    left: 125px;
    top: 25px;
    background-color: gray;
}

#purple_circle {
    left: 225px;
    top: 25px;
    background-color: purple;


}

#green_circle {

    left: 25px;
    top: 125px;
    background-color: green;

}

#red_circle {

    left: 125px;
    top: 125px;
    background-color: red;

}

#blue_circle {

    left: 225px;
    top: 125px;
    background-color: blue;

}

#orange_circle {

    left: 25px;
    top: 225px;
    background-color: orange;

}

#yellow_circle {

    left: 125px;
    top: 225px;
    background-color: yellow;

}

#black_circle {

    left: 225px;
    top: 225px;
    background-color: black;

}
