@media (min-width: 992px) and (max-width: 1170px) {
    #header {
        position: relative;
        background-image: url(../img/man-2.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 80vh;
    }

    .header-text {
        position: absolute;
        top: 10%;
        left: 55%;
        color: white;
    }
}

@media (max-width: 992px) {
    #header {
        position: relative;
        background-image: url(../img/man-1.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 60vh;
    }
    
    .header-text {
        width: 90vw;
        position: absolute;
        top: 100%;
        text-align: center;
        color: black;
    }
}
